*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: rgb(0, 0, 0);
    --bgMain: #d8ddd5;
}
/*
background-color
background-image
background-repeat
background-attachment: fixed so that it will not scroll along with the page.
background-position: How to place the background image
*/
[main-bg] {
    background: var(--bgMain) url('https://i.postimg.cc/K8dh82Xf/61783418-l-1024x683.jpg') no-repeat;
    /* You just have to change the value of background-size */
    background-size: contain;
    background-position: center;
    mix-blend-mode: luminosity;
    height: 100svh;
}
[product-features] {
    background-color: darkolivegreen;
}